target/
target/*
target\classes\org\powertac\logtool\example\*.class
bin/
bin/*
training/
training/*
TestData/
TestData/*
boots-misobuyer/
boots-misobuyer/*.csv
config.properties
*.model
*.arff
*.csv
*.log
*.others
*.xlsx
*.exe
